/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// Definér dine egne farver som SASS-variabler
$primary-color: #003366;   // Mørk blå
$secondary-color: #FFC72C; // Gul
$accent-color: #4CAF50;    // Blød grøn
$error-color: #FF5252;     // Rød til fejlmeddelelser
$info-color: #2196F3;      // Blå til informationsmeddelelser
$success-color: #4CAF50;   // Grøn til succesmeddelelser
$warning-color: #FFC107;   // Gul til advarsler

// Typografioverskrivninger
//$body-font-family: Arial, Helvetica, sans-serif;;
//$heading-font-family: Arial, Helvetica, sans-serif;;
$headings-font-weight: 600;
$body-font-weight: 400;

// Definer CSS-variabler baseret på SASS-variabler
:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --accent-color: #{$accent-color};
  --error-color: #{$error-color};
  --info-color: #{$info-color};
  --success-color: #{$success-color};
  --warning-color: #{$warning-color};

  --background-color: #F4F4F4; /* Lys Grå */
  --surface-color: #FFFFFF; /* Hvid overflade */
  --text-color: #333333; /* Mørk Grå */

  --dark-background-color: #121212; /* Mørk baggrund */
  --dark-surface-color: #1E1E1E; /* Mørk overflade */
  --dark-text-color: #FFFFFF; /* Hvid tekst */
}

// Overskrivning af Vuetify tema farver
$vuetify-theme: (
  primary: $primary-color,
  secondary: $secondary-color,
  accent: $accent-color,
  error: $error-color,
  info: $info-color,
  success: $success-color,
  warning: $warning-color,
);

// Anvend Vuetify styles
@import 'vuetify/styles';

// Tilpas yderligere styles her, hvis nødvendigt
